<!--
Login page

REQUIRES
error_msg - String of why login didn't succeed, undefined if no such problem
username  - Username
password  - Password

IMPORTS
/static/styles.css

[if user tries to log in]
SENDS to /login by POST
username - Username
password - Password
login    - Submit button

[if user wants to register an account]
SENDS to /register by GET
-->
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Log In - Riidordie</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css" integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">

    <!-- Our CSS -->
    <link rel="stylesheet" href="/static/styles.css" />

    <!-- Compressed JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js" integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o=" crossorigin="anonymous"></script>
</head>

<body class="login">
	<div id="login">
		<div class="container">
			<h1 class="title">Log In</h1>
			{% if error_msg is defined %}
			<p class="error-msg">{{ error_msg }}</p>
			{% endif %}
			<form action="{{ url_for('auth.login') }}" method="POST">
				<label for="username">Username <span class="required">*</span></label>
                    <input type="text" name="username" id="username" value="{{ username }}" required />
                    <br class = "spacing"><br class = "spacing">
                    <label for="password">Password <span class="required">*</span></label>
                    <input type="password" name="password" id="password" value="{{ password }}" required />
                    <br class = "spacing">
                    <label for="submit"></label>
                    <input name="login" type="submit" value="Log In" />
                    <p id="link">Not a registered user? <a href="{{ url_for('auth.register') }}">Register here.</a></p>
                </form>
            </div>
        </div>
    </body>
</html>