<!--
Registration page for a user to register a new account

REQUIRES
error_msg       - List of strings of why registration didn't succeed, undefined if no such problem
blogname        - String of attempted blog name submission, undefined otherwise
blogdescription - String of attempted blog description, undefined otherwise

IMPORTS
/static/styles.css

[if user submits registration form]
SENDS to /register by POST
username        - Username
password        - Password
password-conf   - Confirmed password
blogname        - Blog name
blogdescription - Blog description
register        - Submit button

[if user wants to log in]
SENDS to / by GET
-->
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Register an Account - Riidordie</title>
	<link rel="stylesheet" href="/static/styles.css" />
</head>

<body class="login">
	<div id="login">
		<div class="container">
			<h1 class="title">Register an Account</h1>
			{% if error_msg is defined %} {% for error in error_msg %}
			<p class="error-msg">Problem Registering an Account: {{ error }}</p>
			{% endfor %} {% endif %}
			<form action="{{ url_for('auth.register') }}" method="POST">
				<label for="username">Username <span class="required">*</span></label>
                    <br class = "spacing">
                    <small>Can only contain letters, numbers, and underscores.</small>
                    <input type="text" name="username" id="username" required pattern="[A-Za-z_0-9]+" maxlength="100" />
                    <br class = "spacing">

                    <label for="password">Password <span class="required">*</span></label>
                    <br class = "spacing">
                    <small>Must be at least 8 characters long.</small>
                    <input type="password" name="password" id="password" required minlength="8" maxlength="100" />
                    <br class = "spacing">

                    <label for="password-conf">Confirm Password <span class="required">*</span></label>
                    <input type="password" name="password-conf" id="password-conf" required minlength="8" maxlength="100"/>
                    <br class = "spacing">

                    <label for="blogname">Blog Name <span class="required">*</span></label>
                    <br class = "spacing">
                    <small>May not exceed 100 characters.</small>
                    <input type="text" name="blogname" id="blogname" value="{{ blogname }}" required maxlength="100" />
                    <br class = "spacing">

                    <label for="blogdescription">Blog Description</label>
                    <br class = "spacing">
                    <small>May not exceed 250 characters.</small>
                    <textarea name="blogdescription" id="blogdescription" maxlength="250">{{ blogdescription }}</textarea>
                    <br class = "spacing">

                    <label for="submit"></label>
                    <input name="register" type="submit" value="Register" />
                    <p id="link">Already registered? <a href="{{ url_for('auth.login') }}">Log in here.</a></p>
                </form>
            </div>
        </div>
    </body>
</html>