{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Blogs You Are Following{% endblock %}</h1>
{% endblock %} {% block content %}

<body class="allpages">
	<div id="home">
		<div class="container">
			{% if error_msg is defined and error_msg %}
			<p class="error-msg">{{ error_msg }}</p>
			{% endif %} {% if not blogs %}
			<h3>You are not following any blogs.</h3>
			{% else %}
			<table>
				<thead>
					<th>Blog Name</th>
					<th>Blog Creator</th>
					<th>Last Updated</th>
					<th>Description</th>
					<th>Following</th>
				</thead>
				{% for blog in blogs %}
				<tr>
					<td class="blogname"><a href="{{ url_for('blog.viewBlog', username=blog['username']) }}">{{ blog["blogname"] }}</a></td>
					<td class="blogusername">{{ blog["username"] }}</td>
					<td class="blog-time">{{ blog["time"] }}</td>
					<td class="desc">{{ blog["blogdescription"] }}</td>
					<td class="followcolumn">
						<form action="{{ url_for('follow.unfollow', username=blog['username']) }}" method="POST">
							<input type="submit" class="hollow button alert" name="followUnfollow" id="unfollow" value="Unfollow Blog" />
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        </div>
    </body>
{% endblock %}