{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Followed Blogs - Riidordie{% endblock %}</h1>
{% endblock %} {% block content %}

<body>
	<div id="home">
		<div class="container">
			<h1 class="title">Blogs You Are Following</h1>
			{% if error_msg is defined and error_msg %}
			<p class="error-msg">{{ error_msg }}</p>
			{% endif %} {% if not blogs %}
			<h3>You are not following any blogs.</h3>
			{% else %}
			<table>
				<thead>
					<th>Blog Name</th>
					<th>Blog Creator</th>
					<th>Last Updated</th>
					<th>Description</th>
					<th>Following</th>
				</thead>
				{% for blog in blogs %}
				<tr>
					<td><a href="{{ url_for('blog.viewBlog', username=blog['username']) }}">{{ blog["blogname"] }}</a></td>
					<td>{{ blog["username"] }}</td>
					<td>{{ blog["time"] }}</td>
					<td>{{ blog["blogdescription"] }}</td>
					<td>
						<form action="{{ url_for('follow.unfollow', username=blog['username']) }}" method="POST">
							<input type="submit" name="followUnfollow" value="Unfollow Blog" />
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        </div>
    </body>
{% endblock %}