{% if pageNum is not defined %}
    {% set pageNum = 1 %}
{% endif %}
{% extends 'base.html' %}
{% block header %}
    <h1>{% block title %}{{ blogname }}{% endblock %}</h1>
{% endblock %}

{% block content %}
    <body class="allpages">
        <div class="containers">
            <p class="creator">A blog by <u>{{ creator }}</u></p> 
            <div class="blog-desc card">
                {% if blogdescription != "" %}
                    <div class="card-section">
                        {% for line in blogdescription %}
                            <p>{{ line }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            {% if error_msg is defined and error_msg %}
                <p class="error-msg">{{ error_msg }}</p>
            {% endif %}
            {% if not iscreator %}
                {% if following %}
                    <form action="{{ url_for('follow.unfollow', username=creator) }}" method="POST">
                        <input type="submit" id="unfollow" name="viewBlog" class="hollow button alert" value="Unfollow Blog">
                    </form>
                {% else %}
                    <form action="{{ url_for('follow.follow', username=creator) }}" method="POST">
                        <input type="submit" name="viewBlog" class="hollow button" id="follow" value="Follow Blog">
                    </form>
                {% endif %}
            {% endif %}
        </div>

        {% if not entries %}
            <div class="containers">
                <h3 class="no-entries">No entries posted yet.</h3>
            </div>
        {% else %}
            <div class="containers">
                <nav aria-label="Pagination">
                    <ul class="pagination">
                        {% for page in entries %}
                            {% if loop.index != pageNum %}
                                <li><a href="{{ url_for('blog.viewBlog', pageNum=loop.index, username=creator) }}" aria-label="Page {{loop.index}}">Page {{loop.index}}</a></li>
                            {% else %}
                                <li class="current">Page {{loop.index}}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>
            </div>

            <div class="containers entries">
                {% for entry in entries[pageNum - 1] %}
                    <div class="card">
                        <div class="card-divider">
                            <h4>{{ entry["title"] }}</h4>
                            <p>Posted at {{ entry["time"] }}</p>
                        </div>
                        {% if entry["pic"] != "" %}
                            <div class="card-image">
                                <img src="{{ entry['pic'] }}" />
                            </div>
                        {% endif %}
                        <div class="card-section">
                            {% for line in entry["post"] %}
                                <p>{{ line }}</p>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="containers">
                <nav aria-label="Pagination">
                    <ul class="pagination">
                    {% for page in entries %}
                        {% if loop.index != pageNum %}
                            <li><a href="{{ url_for('blog.viewBlog', pageNum=loop.index, username=creator) }}" aria-label="Page {{loop.index}}">Page {{loop.index}}</a></li>
                        {% else %}
                            <li class="current">Page {{loop.index}}</li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </nav>
            </div>
        {% endif %}
    </body>
{% endblock %}